::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #e0e1dd;
}


.admin {

    nav {
        padding: 1rem 0;
        width: 100%;
        background-color: #8d99ae;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        img {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

        button {
            margin-top: 1.6rem;
            font-size: 0.9rem;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: transparent;
            border: none;

        }
    }


    .ulBtns {
        width: 100%;

        .ulContainer {
            padding-bottom: 2rem;
            border-bottom: #003049 2px solid;
            border-radius: 10px;

            li {
                font-size: 0.8rem;
                font-weight: 700;

                button {
                    color: #003049 !important;
                }

                .active {
                    background-color: transparent;
                    border-bottom: 2px solid #4a4e69;
                }
            }

        }
    }

    .content {


        .orderItemsContainer {
            background-color: #fefae0;
            font-weight: 700;
            font-size: 0.7rem;
            text-align: center;


            .imgContainer {
                padding: 2px;
                border-radius: 10px;
                border: #8d99ae 1px solid;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                img {
                    border-radius: 10px;
                    height: 3rem;
                }
            }

            .orderId {
                font-weight: 800;
                color: #d62828;
                font-size: 0.9rem;
                letter-spacing: 1px;
            }

            .cusId {
                color: #888f96;
            }

            .cusName {
                text-transform: capitalize;
            }

            .address,
            .contact {
                color: #d62828;
                font-size: 0.6rem;
            }

            .contact {
                letter-spacing: 1px;
                font-weight: 800;
                font-size: 0.8rem;
            }

            .productname {
                text-transform: uppercase;
                font-size: 0.6rem;
            }

            .qtyOrdered,
            .amtPayable {
                font-weight: 800;
                color: #d62828;
            }


            .delivaryBtn {
                padding: 0.5rem 1.5rem;
                background-color: #06d6a0;
                border: none;
                outline: none;
                border-radius: 10px;
                font-weight: 900;
                font-size: 1rem;

            }


        }

    }














































































}