.categoryTitleOtherPg {
    font-weight: 700;
}


.dropdown-menu {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    a {
        font-size: 0.9rem;
        font-weight: 700;

        &:hover {
            background-color: #a2d2ff;
            color: #ee9b00;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}