.addProductModal{
    
    .modal-content{
        background-color: #f1faee;


        .modal-header{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            justify-content: space-between;


            .modal-title{
                font-weight: 700;
                font-size: 1.5rem;
                padding-left: 3vw;
            }
            button{
                background-color: transparent;
                border: 0;
                border-radius: 50%;
                color: red;
                font-size: 2rem;
            }
        }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    








        .modal-footer{
            button{
                width: 10rem;
                font-weight: 700;
                letter-spacing: 1px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    
    }
    
}