.productTab {
    background-color: #bde0fe;
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;

    input,
    textarea {
        width: 100%;
        padding: 0.4rem 0.6rem;
        border-radius: 10px;
        border: 0;
        outline: 0;
        font-weight: 700;
        height: 3rem;
        resize: none;
        font-size: 0.6rem;
        text-wrap: wrap;
        background-color: transparent;
    }

    input {
        height: 2rem;
        text-transform: capitalize;
        text-align: center;
    }

    select {
        background-color: transparent;
        border: 0;
        outline: 0;
        font-weight: 700;
        font-size: 0.6rem;
        text-transform: capitalize;

        option {
            background-color: #bde0fe;
            font-weight: 700;
            font-size: 0.5rem;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            text-align: center;
        }
    }


    .productName {
        textarea {
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 800;
        }
    }

    .imageContainer {
        border: #023047 1px solid;
        padding: 4px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        img {
            border-radius: 10px;
            height: 3rem;
            width: 5rem;
            aspect-ratio: 3/2;
            object-fit: cover;
        }
    }





    button {
        background-color: #ef233c;
        outline: 0;
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        color: #ffbe0b;
    }



}

.deleteModal {
    .modal-content {
        background-color: #bde0fe;

        .modal-header {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

            .modal-title{
                font-weight: 700;
                font-size: 1.2rem;
                text-transform: capitalize;
            }

            #deleteBtn {
                background-color: #ef233c;
                color: #ffbe0b;
                font-size: 1.2rem;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 0;
            }
        }

        .modal-body {
            text-align: left;

            .txt1{
                font-weight: 700;
                font-size: 0.9rem;
            }
            .pdtName{
                color: #ef233c;
                font-weight: 800;
                font-size: 1rem;
            }
        }
        .modal-footer{
            button{
                width: 7rem;
                font-weight: 700;
                font-size: 0.7rem;
            }
        }

    }
}