.subUlBtns {
    width: 100%;

    .subUlContainer {
        padding-bottom: 2rem;

        li {
            font-size: 0.8rem;
            font-weight: 700;

            button {
                color: #6c584c !important;
                border-radius: 0;
            }

            .active {
                color: #dd1c1a !important;
                background-color: transparent;
                border-bottom: 2px solid #4a4e69;
            }
        }

    }
}

.noPresentTxt{
    font-weight: 700;
}



// .deleteModal {
//     .modal-content {
//         background-color: #bde0fe;

//         .modal-header {
//             box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

//             .modal-title{
//                 font-weight: 700;
//                 font-size: 1.2rem;
//                 text-transform: capitalize;
//             }

//             .deleteBtn {
//                 background-color: #ef233c;
//                 color: #ffbe0b;
//                 font-size: 1.2rem;
//                 height: 2rem;
//                 width: 2rem;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 border-radius: 50%;
//                 border: 0;
//             }
//         }

//         .modal-body {
//             text-align: left;

//             .txt1{
//                 font-weight: 700;
//                 font-size: 0.9rem;
//             }
//             .pdtName{
//                 color: #ef233c;
//                 font-weight: 800;
//                 font-size: 1rem;
//             }
//         }


//     }
// }
